.contentbody{
    width: 100%;
}

.bodyhead{
text-align: ;
color: white;
background: #424242;
margin-top:20px;
padding:5px;
height: 65px;
border-radius: 10px;
}	
.arrow-down {
width: 0; 
height: 5px; 
float:right;
margin-right:20px;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 22px solid #424242;
}
.donationbody span{
color: red;
}
.donationbody{
 padding-left: 10%;
font-family: serif;
}
.donationbody h3{
color:black;
font-size:1.4em;
}
.donationcontent{
    border: 2px solid #d3d3d3;
margin-top: 15px;
}

.donationbutton1 {
padding: 15px;
font-size: 18px;
font-weight: bold;
text-align: center;
background: white;
color: #828282;
box-shadow: 1px 1px 5px -1px;
border: 2px solid #d3d3d3;
border-radius:5px;
}
.italic{
margin-right:200px;
font-style: italic;
font-size: 24px;
color: #0EA0D6;
}

.model-dialog{
width: 25%;
}
input[type="button"]{
display: inline-block;
padding: 19px 8px;
color: white;
text-shadow: 0 1px black;
cursor: pointer;
border: 1px solid #00BE1C;
width: 37%;
font-size: 24px;
background: #00BE1B;
border-radius: 7px;
}
input[type="text"]{
height:59px;
width:150px;
border-radius:5px;
font-size:1.4em;
border:2px solid #d3d3d3;
}

progress[value] {
width: 500px;
height: 20px;
}
progress[value] {
/* Reset the default appearance */
-webkit-appearance: none;
appearance: none;
width:100%;
height: 20px;
}
progress[value]::-webkit-progress-bar {
background-color: #eee;
border-radius: 2px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
background:orange;
border-radius: 2px; 
background-size: 35px 20px, 100% 100%, 100% 100%;
}
#value{
    margin-left: 25%;
    
}
.progress {
    overflow: inherit !important;
}